.projectslist
	display grid
	grid-gap 50vh 4px
	grid-template-columns repeat(5,1fr)
	margin 6rem auto 16rem auto 
	padding 2rem
	@media screen and (max-width:1560px)
		grid-template-columns repeat(4,1fr)
		article:nth-child(3)
			grid-column span 2
	@media screen and (max-width:1280px)
		grid-template-columns repeat(3,1fr)
		article:nth-child(3)
			grid-column span 1
		article:nth-child(7)
			grid-column span 2
	@media screen and (max-width:768px)
		grid-template-columns 1fr 1fr
		grid-gap 6rem 4px
		article:nth-child(7)
			grid-column span 1
	article 
		// &:first-child
		// 	margin-top 16rem
		margin-top 0rem
		&:nth-child(2n)
			margin-top 8rem
		// &:nth-child(4n)
		// 	margin-top 16rem
		.project-title
			font-family 'AkkuratBold'
			font-weight normal
		.article-image
			overflow hidden
			img
				display block
				max-width 100%
				width 100%
				will-change transform
				filter blur(0px)
				transition filter 300ms ease
				transform scale(1.06) translate3d(0,0,0)
		&:hover
			.article-image
				img
					filter blur(8px)

.project
	display grid
	grid-gap 2rem
	grid-template-columns 1fr 3fr 1fr
	grid-template-areas "left main right"
	margin-top 12.5vh
	padding 2rem
	@media screen and (max-width:768px)
		display block
	.project-left
		grid-area left
	.project-main
		grid-area main
	.project-right
		grid-area right
		padding-top 161%
		@media screen and (max-width:768px)
			padding-top 0px
			padding-bottom 160px
.project-main
	padding-bottom 160px
	p
		text-indent 120px
		margin-top 60px
		@media screen and (max-width:768px)
			text-indent 60px
		+ ul
			margin-top 40px
	ul
		li
			&:nth-child(2n)
				text-indent 40px
.project-title
	h3:last-child
		text-indent 40px
.video-embed
	position relative
	padding-bottom 56.25%
	margin-bottom 4rem
	iframe
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		border none
		outline none