.about
	display grid
	grid-gap 2rem
	grid-template-columns repeat(6, 1fr)
	max-width 1440px
	margin 0 auto 
	padding 2rem 2rem 16rem 2rem
	grid-template-areas "intro intro intro a a a"\
						"b b clients clients c c"\
						"d d d d contact contact"\
						"address address e e e e"\
						"f image image image g g"\
						"h h h h imprint imprint"\
						"j text text text text i"
	@media screen and (max-width:768px)
		display block
		> div
			margin-bottom 40px
	.about-intro
		grid-area intro
		margin-bottom 40px
	.about-clients
		grid-area clients
	.about-address
		grid-area address
	.about-contact
		grid-area contact
	.about-image
		grid-area image
		img
			max-width 66.6%
			@media screen and (max-width:768px)
				max-width 100%
	.about-imprint
		grid-area imprint
	.about-text
		grid-area text
		margin-top 80px
		display grid
		grid-gap 2rem
		grid-template-columns repeat(4,1fr)
		grid-template-areas ". a a a"\
							"b b . ."\
							". c c c"\
							"d d d ."
		@media screen and (max-width:768px)
			display block
		p
			width 100%
			text-indent 40px
		p:nth-child(1)
			grid-area a
		p:nth-child(2)
			grid-area b
		p:nth-child(3)
			grid-area c
		p:nth-child(4)
			grid-area d
		p + p
			margin-top 40px
