.hero
	width 100%
	min-height 100vh
	display flex
	justify-content center
	align-items center
	transition all 2s ease
	.logo
		text-transform uppercase
		letter-spacing -.03rem
		font-size 12vw
		position relative
		animation-direction both
		opacity 0
		animation appear 2000ms ease 1200ms forwards
		span
			display inline-block
	.jobtitle
		position absolute
		bottom 20%
		left 50%
		transform translateX(-50%)
		opacity 0
		animation appear 2000ms ease 1600ms forwards
	.video
		position absolute
		top 2rem
		left 50%
		width 400px
		overflow hidden
		transform translate(-50%,-150%)
		will-change transform
		animation-direction both
		animation fadeInDown 1200ms ease forwards
		video
			max-width 100%
			max-height 100%

@keyframes fadeInDown
	0%
		transform translate(-50%,-150%)
	100%
		transform translate(-50%,-0%)

@keyframes appear
	0%
		opacity 0
	100%
		opacity 1
