random(min,max)
	return floor(math(0, 'random')*(max - min + 1) + min)

.hero
	width 100%
	height 100vh
	display flex
	justify-content center
	align-items center
	overflow hidden
	transition all 2s ease
	.logo
		text-transform uppercase
		letter-spacing -.03rem
		font-size 12vw
		position relative
		animation-direction both
		opacity 0
		animation appear 2000ms ease 1200ms forwards
		span
			display inline-block
	.video
		position absolute
		top 2rem
		left 50%
		width 400px
		overflow hidden
		transform translate(-50%,-150%)
		will-change transform
		animation-direction both
		animation fadeInDown 1200ms ease forwards
		video
			max-width 100%
			max-height 100%

heroStartState()
	opacity 1
	will-change transform
	transition all 1200ms ease
	for i in (1..15)
		&:nth-child({i})
			transform translateY(-(random(0, 100)) vh)
heroEndState()
	opacity 1
	transform translateX(0rem)
.pagetransition-enter
	.hero .logo span
		heroStartState()

.pagetransition-enter.pagetransition-enter-active
	.hero .logo span
		heroEndState()

.pagetransition-exit 
	.hero .logo span
		heroEndState()

.pagetransition-exit.pagetransition-exit-active
	.hero .logo span
		heroStartState()

@keyframes fadeInDown
	0%
		transform translate(-50%,-150%)
	100%
		transform translate(-50%,-0%)

@keyframes appear
	0%
		opacity 0
	100%
		opacity 1

.test
	color red