// Assetpath relativ
$assetspath = "../../assets"

// Colors
my-colors = {
	black: #151C22
	white: #ffffff
	bg: #fcfcfc
	text: #666C71
}
for name, color in my-colors
	define('$'+name color)

//Animation
$animation-timing = .5s
$animation-curve = cubic-bezier(0.4, 0, 0.2, 1)
ease = $animation-curve

animationbooster()
	transform: translateZ(0)
	perspective: 1000
	backface-visibility: hidden
	// will-change transform //CHROME Bug

// BREAKPOINTS ⚡
$bp1=769px
$bp2=1280px
bp(var)
	@media screen and (max-width:var)
		{block}
section()
	max-width 1440px
	margin 0 auto
	padding 2rem
my-shadow()
	box-shadow 0 5px 30px -10px rgba(black,.15)
my-shadow-hover()
	box-shadow 0 30px 25px -15px rgba($blue,.2), 0 15px 40px -10px rgba(black,.2)
loop()
	for i in (1..10)
		&:nth-child({i})
			animation-delay (166ms * i)

$black = #000
$white = #fff

$pathToFonts = "./fonts/"

@font-face 
	font-family "AkkuratBold"
	font-style normal
	font-weight normal
	src url(./fonts/lineto-akkurat-bold.woff2) format("woff2")

@font-face
	font-family "AkkuratRegular"
	font-style normal
	font-weight normal
	src  url(./fonts/lineto-akkurat-regular.woff2) format("woff2")

bold()
	font-family 'AkkuratBold', sans-serif
	font-weight normal

regular()
	font-family 'AkkuratRegular', sans-serif
	font-weight normal




body
	regular()
a
	color $black
	text-decoration none
h1,h2,h3,h4,h5
	bold()
ul
	li
		list-style-type none
dl
	dd
		text-indent 40px
blockquote
	text-indent 40px
.main
	max-width 720px
	margin 0 auto
	width 100%
.container
	margin 0 auto
	max-width 1260px
.row
	display flex
	flex 0 1 auto
	flex-direction row
	flex-wrap wrap
.col
	flex 0 0 auto
	padding-right 1rem
	padding-left 1rem
	flex-grow 1
	flex-basis 0
	max-width 100%

// BASIC ICON SETUP
.icon
	display inline-block
	width 24px
	height 24px


.imprint-page
	max-width 720px
	padding 2rem
	margin 40px auto
	h1,h2,h3,h4
		margin-top 40px
		margin-bottom 16px


.loader
	position fixed
	width 100vw
	height 100vh
	display flex
	justify-content center
	align-items center 
	background white
	text-align center
	z-index 1000
	animation loaderOne 1s ease forwards 1s
	overflow hidden
	span
		display inline-block
		for i in (1..15)
			&:nth-child({i})
				animation-direction both
				animation loaderLetter+i 2s forwards 500ms
				
random()
	return math(math(0, 'random') * -70vh + 1, 'floor')
@keyframes loaderOne
	0%
		opacity 1
		transform translateY(0vh)
	100%
		opacity 1
		transform translateY(-100vh)

for i in (1..15)
	@keyframes loaderLetter{i}
		0%
			transform translateY(0)
		100%
			transform translateY(random())


// .transition-group
// 	position relative 
// .transition-container
// 	position absolute
// 	width 100%
// 	will-change transform
// 	translate transform3d(0,0,0)


// .pagetransition-enter
// 	opacity 0.01
// 	transform translateY(200px)

// .pagetransition-enter.pagetransition-enter-active
// 	opacity 1
// 	transform translateY(0rem)
// 	transition all 2000ms ease

// .pagetransition-exit 
// 	opacity 1
// 	transform translateY(0rem)

// .pagetransition-exit.pagetransition-exit-active
// 	opacity 0.01
// 	transform translateY(200px)
// 	transition all 2000ms ease

