// Assetpath relativ
$assetspath = "../../assets"

// Colors
my-colors = {
	black: #151C22
	white: #ffffff
	bg: #fcfcfc
	text: #666C71
}
for name, color in my-colors
	define('$'+name color)

//Animation
$animation-timing = .5s
$animation-curve = cubic-bezier(0.4, 0, 0.2, 1)
ease = $animation-curve

animationbooster()
	transform: translateZ(0)
	perspective: 1000
	backface-visibility: hidden
	// will-change transform //CHROME Bug

// BREAKPOINTS ⚡
$bp1=769px
$bp2=1280px
bp(var)
	@media screen and (max-width:var)
		{block}
section()
	max-width 1440px
	margin 0 auto
	padding 2rem
my-shadow()
	box-shadow 0 5px 30px -10px rgba(black,.15)
my-shadow-hover()
	box-shadow 0 30px 25px -15px rgba($blue,.2), 0 15px 40px -10px rgba(black,.2)
loop()
	for i in (1..10)
		&:nth-child({i})
			animation-delay (166ms * i)

$black = #000
$white = #fff

bold()
	font-family 'AkkuratBold'
	font-weight normal

regular()
	font-family 'AkkuratRegular'
	font-weight normal
body
	regular()
a
	color $black
	text-decoration none
ul
	li
		list-style-type none
dl
	dd
		text-indent 40px
blockquote
	text-indent 40px
.main
	max-width 720px
	margin 0 auto
	width 100%
.container
	margin 0 auto
	max-width 1260px
.row
	display flex
	flex 0 1 auto
	flex-direction row
	flex-wrap wrap
.col
	flex 0 0 auto
	padding-right 1rem
	padding-left 1rem
	flex-grow 1
	flex-basis 0
	max-width 100%

// BASIC ICON SETUP
.icon
	display inline-block
	width 24px
	height 24px
.intro
	width 100%
	height 100vh
	display flex
	justify-content center
	align-items center
	z-index 1
	position relative
	h1
		font-size 16vw
.projectslist
	width 100%
	overflow hidden
	position relative
	height 100vw
	max-height 100vh
	margin-top 2rem
	article 
		width 400px
		margin-right 4px
		&:first-child
			margin-left 2rem
		&:last-child
			margin-right 2rem
		&:nth-child(2n)
			margin-top 8rem
		h3
			margin-top 4rem
			transition margin-top 300ms ease
		.article-image
			overflow hidden
			img
				display block
				max-width 100%
				width 100%
				will-change transform
				filter blur(0px)
				transition filter 300ms ease
				transform scale(1.1) translate3d(0,0,0)
		&:hover
			h3
				margin-top 1.6rem
			.article-image
				img
					filter blur(10px)
					
.about
	display grid
	grid-gap 2rem
	grid-template-areas "intro intro intro a a a"\
						"b b clients clients c c"\
						"d d d d contact contact"\
						"address address e e e e"\
						"f f image image g g"\
						"h h h h imprint imprint"
	.about-intro
		grid-area intro
	.about-clients
		grid-area clients
	.about-address
		grid-area address
	.about-contact
		grid-area contact
	.about-image
		grid-area image
	.about-imprint
		grid-area imprint

.project
	display grid
	grid-gap 2rem
	grid-template-columns 1fr 3fr 1fr
	grid-template-areas "left main right"
	margin-top 12.5vh
	padding 2rem
	.project-left
		grid-area left
	.project-main
		grid-area main
	.project-right
		grid-area right
.project-main
	p
		text-indent 30%
		margin-top 60px
	pre code
		regular()
.project-title
	h3:last-child
		text-indent 40px

.video-embed
	position relative
	padding-bottom 56.25%
	margin-bottom 4rem
	iframe
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		border none
		outline none



.hero
	width 100%
	height 100vh
	display flex
	justify-content center
	align-items center
	border 1px solid red
	overflow hidden
	transition all 2s ease
	.logo
		text-transform uppercase
		letter-spacing -.03rem
		font-size 12vw
		position relative
		span
			display inline-block
			margin 0
			padding 0
			&:nth-child(5)
				width 3vw
		// 	for i in (1..15)
		// 		&:nth-child({i})
		// 			transform translateY(2vh * random(0, 22))

.transition-group
	position relative 
.transition-container
	position absolute
	width 100%
	will-change transform
	translate transform3d(0,0,0)

.pagetransition-enter
	opacity 0.01
	transform translateY(50vh)

.pagetransition-enter.pagetransition-enter-active
	opacity 1
	transform translateY(0rem)
	transition all 1200ms ease

.pagetransition-exit 
	opacity 1
	transform translateY(0rem)

.pagetransition-exit.pagetransition-exit-active
	opacity 0.01
	transform translateY(-50vh)
	transition all 1200ms ease


random(min,max)
	return floor(math(0, 'random')*(max - min + 1) + min)

heroStartState()
	opacity 1
	will-change transform
	transition all 1200ms ease
	for i in (1..15)
		&:nth-child({i})
			transform translateY(-(random(0, 100)) vh)
heroEndState()
	opacity 1
	transform translateX(0rem)
.pagetransition-enter
	.hero .logo span
		heroStartState()

.pagetransition-enter.pagetransition-enter-active
	.hero .logo span
		heroEndState()

.pagetransition-exit 
	.hero .logo span
		heroEndState()

.pagetransition-exit.pagetransition-exit-active
	.hero .logo span
		heroStartState()
