nav 
    z-index 100
    position fixed
    bottom 4rem
    left 2rem
    animation fadeInLeft 1000ms ease forwards 2.8s
    opacity 0
    ul
        display flex
        li
            list-style-type none
            margin-right 16px

@keyframes fadeInLeft
    0%
        opacity 0
        transform translate(-200px,0)
    100%
        opacity 1
        transform translate(0,0)