nav 
    z-index 100
    position fixed
    bottom 2rem
    left 2rem
    ul
        li
            list-style-type none
            &:nth-child(1)
                text-transform uppercase
            &:nth-child(2)
                margin-left 3vw * 1
            &:nth-child(3)
                 margin-left 3vw * 2
            &:nth-child(4)
                 margin-left 3vw * 3